h3 예약 여부
section.options.done 
  a(data-value='true').option 예약됨
  a(data-value='false').option 예약 가능
  a(data-value='all').all 전체

h3 숙박 인원
section.options.priority 
  a(data-value='3').option 1인
  a(data-value='2').option 2인
  a(data-value='1').option 3인 이상
  a(data-value='all').all 전체

h3 도시
section.options.category
  a(data-value='서울').option 서울
  a(data-value='NY').option NY
  a(data-value='도쿄').option 도쿄
  a(data-value='기타').option 기타
  a(data-value='all').all 전체
