form#form-task.form-inline(class='todos_guest')
  .form
    .main 숙소 리스트
      
ul.tasks

.no-task 
  .alert.alert-info 등록된 숙소가 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "1인" : ((priority === 1) ? "3인 이상": "2인") %>
    </span></i></a>
  </li>

script.
  $(function() {
    var todo = new TaskController();    
  });
