extends layout

block hero-unit
  .jumbotron
    .container
      h1 AirBnB

block content
  .container
    .row
      .col-md-6
        h3 호스팅을 시작하면 무궁무진한 기회의 세상이 열립니다!
        p 집에 있는 여유 공간을 게스트와 공유하여 수입을 창출하세요.
      .col-md-6
        h3 서비스 기능
        ul
          li 분류별 숙소 찾기 및 예약
          li 숙소 등록
          li 회원정보 관리
  
