extends layout

block content
  #main.container.loading
    .row
      .col-sm-9
        include ./includes/todo_guest-main
      .col-sm-3.side
        include ./includes/todo_guest-side
    .spinner
      .background
      .foreground
        p
          i.fa.fa-circle-o-notch.fa-spin.fa-4x
        p Loading...
  script(type='text/javascript', src='/javascripts/todos_guest.js')
